@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$main-color: #2980B9;

.pokemon {
    margin: 30px 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .pokemon-wrap {
        width: 100%;
        border-radius: 20px;
        background-color: lightgrey;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

        .test {
            width: 100%;
            border: 1px solid red;
            height: 100px;
        }

        .pokemon-definition {
            // border: 3px solid red;
            border: 1px solid black;
            border-bottom: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: $main-color;

            .fav-btn-wrap {
                
                button {
                    border: none;
                    background: none;
                    color: gold;
                }
            }
        }

        .poke-main-details {
            background-color: lightcyan;
            // background-color: lightsteelblue;

            .main-top {
                border: 1px solid black;
                border-bottom: none;
                padding: 10px;
                display: flex;
                justify-content: space-around;

                .poke-image {
                    // border: 3px solid white;
                    width: 30%;
                    display: flex;
                    
                    img { 
                        width: 100%;
                    }
                }

                .poke-main-second-section {
                    // border: 3px solid yellow;
                    width: 60%;

                    .poke-types {
                        padding: 10px;
                        // background-color: red;

                        .poke-type-wrap {
                            padding: 10px;
                            // border: 1px solid white;
                            display: flex;
                        
                            .poke-type {
                                padding: 10px;
                                border: 1px solid black;
                                width: 50%;
                            }
                        }
                    }

                    .poke-stats {
                        // border: 5px solid violet;
                        // display: flex;
                        margin: 10px;    

                        .poke-stat {
                            border: 3px solid black;
                            margin: 5px;
                            display: flex;

                            .poke-definition {
                                background-color: $main-color;
                                padding: 3px;
                                width: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .poke-progress {
                                border: 1px solid white;
                                width: 100%;
                                display: flex;
                                
                                .progress {
                                    width: 100%; 
                                    display: flex;

                                    .progress-bar {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .poke-main-third-section {
                    // border: 3px solid greenyellow;
                    padding: 10px;
                }

            }
            .poke-description {
                border: 1px solid black;
                padding: 20px;
            } 
        }

        .pokeSpecDetails {
            background-color: white;
            border: 1px solid black;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .poke-profile {

                .poke-profile-def {
                    background-color: $main-color;
                    border-bottom: 1px solid black;
                    padding: 1px;
                }

                .poke-profile-wrap {
                    // border: 5px solid greenyellow;

                    .poke-prof-left {
                        display: flex;
                        flex-direction: column;
                        background-color: lightcyan;
                        border-bottom: 1px solid black;

                        .poke-spec-stat {
                            // border: 1px solid yellow;
                            margin: 3px;
                            display: flex;
                            justify-content: center;

                            .poke-spec-definition {
                                width: 50%;
                                margin: 1px;
                                border: 1px solid black;
                            }

                            .poke-spec-value {
                                width: 50%;
                                margin: 1px;
                                border: 1px solid black;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .poke-progress {
                                width: 100%;
                                border: 1px solid black;
                                display: flex;
                                margin: 1px;

                                .progress {
                                    width: 100%;
                                    padding: 5px;
                                    // border: 3px solid aqua;
                                    display: flex;

                                    .progress-wrap {
                                        padding: 4px;
                                        width: 100%;
                                        // border: 3px solid green;
                                        display: flex;

                                        .progress-bar {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            padding: 3px;
                                            width: 100%;
                                            // border: 1px solid blue;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .poke-prof-right {
                        padding: 5px;
                        background-color: $main-color;
                        // border: 5px solid rebeccapurple;
                        margin: 3px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;

                        .poke-data-wrap {
                            // border: 3px solid blue;
                            margin: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .poke-details-descr {
                                margin: 3px;
                                width: 100%;
                                border: 1px solid white;
                            }

                            .poke-data-def {
                                width: 100%;
                                border: 1px solid white;
                            }
                        }
                    }

                }
            }
        }
    }
    
    .pokemon-goback-button-wrap {
        position: absolute;
        top: 0;
        left: -100%;
        
        .pokemon-goback-button {
            color: blue;
            transition: 1s ease-in-out;

            &:hover {
                color: red;
            }
        }
    }
}


// .pokemon {
//     padding: 100px 0;
//     border: 3px solid navy;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .pokemon-wrap {
//         background-color: lightgrey;
//         width: 60%;

//         .pokemon-definition {
//             height: 80px;
//             border: 1px solid red;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }

//         .poke-main-details {
//             border: 10px solid blueviolet;
//             display: flex;
//             flex-direction: column;
//             // justify-content: space-around;

//             .main-top {
//                 border: 5px solid purple;
//             }

//             .poke-image {
//                 border: 1px solid purple;
//                 width: 40%;
//                 height: 230px;

//                 img {
//                     width: 100%;
//                     height: 250px;
//                 }
//             }

//         .poke-description {
//             border: 1px solid red;
//             width: 50%;
//         }

//         .poke-stats {
//             border: 1px solid greenyellow;
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-around;

//             .poke-stat {
//             // border: 3px solid purple;
//             display: flex;
//             width: 90%;
//             margin: 5px;

//             .poke-definition {
//                 // border: 1px solid black;
//                 width: 20%;
//                 justify-content: flex-start;
//                 font-size: small;
//             }
            
//             .poke-progress {
//                 // border: 1px solid red;
//                 width: 100%;
//                 justify-content: flex-end;
//             }
//             }
//         }
//         }

//     .pokeSpecDetails {
//         border: 2px solid mediumspringgreen;

//         .poke-profile {
//             border: 1px solid mediumorchid;

//             .poke-profile-wrap {
//                 border: 3px solid orange;
//                 display: flex;
//                 justify-content: space-around;

//                 .poke-prof-left {
//                     width: 40%;
//                     border: 3px solid mediumspringgreen;

//                     .poke-spec-stat {
//                         border: 3px solid navy;
//                         margin: 5px;
//                         height: 40px;
//                         display: flex;
//                         justify-content: center;

//                         .poke-spec-definition {
//                             width: 30%;
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                         }

//                         .poke-spec-value {
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                             width: 30%;
//                         }

//                     }

//                     .poke-stat {
//                         display: flex;
//                         width: 100%;
            
//                         .poke-definition {
//                             width: 30%;
//                             font-size: small;
//                         }
                        
//                         .poke-progress {
//                             width: 70%;

//                             .progress-wrap {
//                                 margin-right: 1%;
//                                 height: 53px;
//                                 display: flex;
//                                 flex-direction: row;
//                                 align-items: center;
//                             }                                    
//                         }
//                     }
//                 }

//                 .poke-prof-right {
//                     width: 40%;
//                     border: 3px solid springgreen;

//                     .poke-data-wrap {
//                         border: 1px solid purple;
//                         height: 5   0px;
//                         margin: 5px;
//                         display: flex;
//                         justify-content: space-around;
//                         align-items: center;

//                         .poke-details-descr {
//                             border: 1px solid navy;
//                             width: 30%;
//                             height: 40px;
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                         }

//                         .poke-data-def {
//                             border: 1px solid navy;
//                             margin: 5px;
//                             width: 30%;
//                             height: 35px;
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;

//                             .poke-abilities {
//                                 border: 1px solid red;
//                                 display: flex;
//                             }
//                         }

//                     }
//                 }
//             }
//         }
//     }
// }
// }