@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$main-color: #2980B9;

.pokemon {
    margin: 30px 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .pokemon-wrap {
        width: 100%;
        border-radius: 20px;
        background-color: lightgrey;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

        .test {
            width: 100%;
            border: 1px solid red;
            height: 100px;
        }

        .pokemon-definition {
            border-bottom: none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;

            .fav-btn-wrap {
                
                button {
                    border: none;
                    background: none;
                    color: gold;
                }
            }
        }

        .poke-main-details {
            background-color: lightcyan;

            .main-top {
                border-bottom: none;
                padding: 10px;
                display: flex;
                justify-content: space-around;

                .poke-image {
                    width: 30%;
                    display: flex;
                    
                    img { 
                        width: 100%;
                    }
                }

                .poke-main-second-section {
                    width: 60%;

                    .poke-types {
                        padding: 10px;

                        .poke-type-wrap {
                            padding: 10px;
                            display: flex;
                        
                            .poke-type {
                                padding: 10px;
                                width: 50%;
                            }
                        }
                    }

                    .poke-stats {
                        margin: 10px;    

                        .poke-stat {
                            margin: 5px;
                            display: flex;

                            .poke-definition {
                                background-color: $main-color;
                                padding: 6px;
                                width: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .poke-progress {
                                width: 100%;
                                display: flex;
                                
                                .progress {
                                    width: 100%; 
                                    display: flex;

                                    .progress-bar {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .poke-description {
                padding: 20px;
            } 
        }

        .pokeSpecDetails {
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .poke-profile {

                .poke-profile-def {
                    background-color: $main-color;
                    padding: 1px;
                }

                .poke-profile-wrap {

                    .poke-prof-left {
                        display: flex;
                        flex-direction: column;
                        background-color: lightcyan;

                        .poke-spec-stat {
                            margin: 3px;
                            display: flex;
                            justify-content: center;

                            .poke-spec-definition {
                                width: 50%;
                                margin: 1px;
                            }

                            .poke-spec-value {
                                width: 50%;
                                margin: 1px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .poke-progress {
                                width: 100%;
                                display: flex;
                                margin: 1px;

                                .progress {
                                    width: 100%;
                                    padding: 5px;
                                    display: flex;

                                    .progress-wrap {
                                        padding: 4px;
                                        width: 100%;
                                        display: flex;

                                        .progress-bar {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            padding: 3px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .poke-prof-right {
                        padding: 5px;
                        background-color: $main-color;
                        margin: 3px;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;

                        .poke-data-wrap {
                            margin: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .poke-details-descr {
                                margin: 3px;
                                width: 100%;
                            }

                            .poke-data-def {
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
    
    .pokemon-goback-button-wrap {
        position: absolute;
        top: 0;
        left: -100%;
        
        .pokemon-goback-button {
            color: blue;
            transition: 1s ease-in-out;

            &:hover {
                color: red;
            }
        }
    }
}
